<article id="article-{{id}}" class="post">
    <img src="{{feature_image}}" alt="{{title}}">
    <h2>{{title}}</h2>
    {{content}}
    <footer class="post-footer">
        <a href="{{url}}">Publicat el {{date published_at format="D-M-YYYY"}}</a>
    </footer>
</article>
